---
- name: assert | Test if gotop_version is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - gotop_version is defined
      - gotop_version is string
- name: assert | Test if gotop_installation_path is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - gotop_installation_path is defined
      - gotop_installation_path is string
